
.hide {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.jumbotron-form input:focus {
    border: 1.5px solid #3b331a;
}
@media only screen and (max-width: 600px) {
    /* Aquí puedes agregar reglas de estilo específicas para pantallas pequeñas */
    /* Por ejemplo, ajustar el tamaño del texto, el espaciado, etc. */
    .header-nav-logo img {
        width: 200px; /* Cambiar el tamaño del logotipo para pantallas pequeñas */
    }
    /* ... (otras reglas de estilo específicas para pantallas pequeñas) ... */
}