
#container_2 {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    border-radius: 5px;
    color: #fff;
}

#colums {
    column-count: 2;
    column-gap: 30px;
    column-rule: 4px dotted transparent;
}

.reservation-container {
    position: relative;
    max-width: 80%; /* Make it responsive */
    padding: 20px;
    margin: 20px auto; /* Center horizontally */
    background: linear-gradient(rgba(118, 199, 64, 0.829), rgba(63, 141, 44, 0.952));
    box-shadow: 10px 10px 5px rgba(15, 15, 15, 0.438);
    border-radius: 5px;
    color: #fff;
}

form {
    display: flex;
    padding: 25px;
    flex-direction: column;
}

form h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

form label {
    margin-top: 20px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="date"],
form input[type="number"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
    border: none;
    border-radius: 3px;
}

form button {
    margin: 20px 0 0 0;
    display: block;
    width: 100%;
    padding: 20px;
    background: linear-gradient(rgba(118, 199, 64, 0.829), rgba(29, 124, 29, 0.575));
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
    
form button:hover {
    background-color: rgba(95, 8, 69, 0.247);
}

li{
    list-style: none;
}

li.habitacion {
    height: 30px;
    margin: 0 ;
    padding-bottom: 20px;
}

/* End----------------------------*/


/* Beginning of client review section styles */

.review-container {
    width: 80%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: "300px";
    height: "auto";
}

.review-header>p {
    text-align: center;
}

.cards-container {
    display: flex;
    margin-top: 2em;
    margin-bottom: 4em;
}

.card {
    flex: 1;
    border: 1px solid rgb(158, 158, 158);
    min-height: 40vh;
    margin-right: 2em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em 1em 1em 1em;
    line-height: 1.5em;
}

.card-title {
    font-size: 25px;
}

.card-avi {
    width: 30%;
    margin: 2em 0;
}

.card-subtitle {
    margin-bottom: 1em;
}

.card-desc {
    font-size: 18px;
    font-weight: 300;
}

.background1 {
    position: fixed; /* Para que el div cubra toda la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 90%; /* Para que esté detrás del contenido */
}

.background1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen cubra todo el div */
}
/* End----------------------------------------- */
/* Estilo para el campo "Número de habitación" */
label[for="habitacion"] {
    font-weight: bold;
    margin: 0;
    display: block;
}

select#habitacion {
    width: 100%;
    padding: 6px;
    margin: 0 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
}

/* Estilo para el mensaje de error (puedes personalizarlo según tus necesidades) */
#error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* @media queries */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    #colums {
        column-count: 1;
        column-gap: 30px;
        column-rule: 4px dotted transparent;
    }
    .header-nav-logo img {
        width: 200px; /* Cambiar el tamaño del logotipo para pantallas pequeñas */
    }
    .image-col {
        margin: auto;
        border-radius: 10px;
    }
    .jumbotron-container {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }

    .jumbotron-left {
        padding: 1rem;
        margin-top: 1rem;
    }
    .jumbotron-header {
        font-size: 30px;
        text-align: flex-end;
    }
    .jumbotron-header br {
        display: none;
    }
    .enjoy-services {
        flex-direction: column;
    }
    .enjoy-header,
    .enjoy-container,
    .enjoy-header h1 {
        text-align: flex-end;
    }
    .enjoy-header>p {
        width: 100%;
    }
    /* Enjoy section icons for mobile */
    .enjoy__clock-icon,
    .enjoy__fitness-icon,
    .enjoy__wifi-icon,
    .enjoy__coffee-icon {
        position: unset;
        padding: 0.5rem;
    }
    .page-header {
        text-align: center;
        padding: 1rem;
        font-size: 30px;
    }
    .cards-container {
        flex-direction: column;
    }
    .card {
        margin-bottom: 1em;
    }
    .page-header:after {
        margin: 0.5em auto 0 auto;
        height: 2px;
    }
    .page-header-container {
        margin-bottom: 10px;
    }
    .btn-large {
        margin-bottom: 1em;
        margin: auto;
        font-weight: 700;
        font-size: 77%;
        padding: 15px 27px;
    }
    .horizontal {
        margin: 1em auto 2em auto;
    }
    .jumbotron-form {
        width: 90%;
        margin: 1em auto;
        padding: 1em 0.5em;
    }
    .jumbotron-form h3 {
        font-size: 20px;
        text-align: center;
    }
    .jumbotron-form p {
        font-size: 17px;
    }
    .jumbotron-form p br {
        display: none;
    }
    .jumbotron-left p {
        font-size: 18px;
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }
    .jumbotron-right .jumbotron-left,
    .jumbotron-right {
        flex: 1;
    }
    .jumbotron-form button {
        margin-bottom: 1em;
    }
    .enjoy-services {
        margin-bottom: 0.5em;
    }
    .special-offers {
        padding: 0 0 35px;
    }
    .enjoy__play-icon {
        z-index: 2;
        width: 4rem;
        opacity: 0.9;
        height: 4rem;
    }
    .page-header,
    .enjoy-heading {
        text-transform: capitalize;
        text-align: flex-end;
    }
    .horizontal {
        height: 2px;
        width: 39%;
    }
    .enjoy-heading {
        margin-top: 20px;
        font-size: 30px;
    }
    .enjoy-heading br {
        display: none;
    }
    .first-col,
    .sec-col {
        margin-right: unset;
    }
    .upper,
    .lower {
        padding-left: unset;
    }
    a .third-col {
        order: -1;
        margin-bottom: 1rem;
    }
    .third-col-video {
        width: 100%;
        filter: drop-shadow(2px 4px 6px rgb(0, 217, 255));
    }
    .side-by-side-container {
        flex-direction: column;
    }
    .stacked-image-container {
        flex-direction: row;
    }
    .offers-sub-title {
        padding: 1rem;
    }
    .offers-sub-title br {
        display: none;
    }
    .offers-list {
        margin-left: 1.5rem;
    }
    .centered {
        margin: auto;
        display: block;
        width: 50%;
        text-align: center;
    }
    .img-hide {
        display: none;
    }
    .review-title {
        text-align: center;
        font-size: 30px;
    }
    .card {
        width: 100%;
    }
    .card-avi {
        width: 30%;
        display: block;
        margin: 1.5rem auto;
    }
    .card-title,
    .card-subtitle {
        width: 100%;
        text-align: center;
    }
    .card-subtitle {
        font-weight: 300;
    }
    form h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 320px) {
    #colums {
        column-count: 2;
        column-gap: 30px;
        column-rule: 4px dotted transparent;
    }
    .small-image {
        display: none;
    }
    .large-image {
        width: 100%;
        object-fit: cover;
    }
    
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) and (max-width: 700px) {
    #colums {
        column-count: 1;
        column-gap: 30px;
        column-rule: 4px dotted transparent;
    }
    form h2 {
        font-size: 28px;
    }
    .jumbotron-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .btn-large {
        margin: 0.5em auto 1em 1em;
    }
    .jumbotron-form {
        width: 100%;
        margin: 1em auto;
        padding: 1em 0.5em;
    }
    .enjoy-header,
    .enjoy-container,
    .enjoy-header h1 {
        text-align: center;
    }
    .enjoy-header>p {
        width: 100%;
    }
    .enjoy-services {
        flex-direction: column;
    }
    .page-header {
        padding: 0 100px 0 100px;
    }
    .card {
        margin-bottom: 1em;
    }
    .page-header:after {
        margin: 0.5em auto 0 auto;
    }
    .btn-large {
        margin-bottom: 1em;
    }
    .jumbotron-left h1 {
        font-size: 50px;
        margin-top: 1em;
    }
    .horizontal {
        margin: 1em auto 2em auto;
    }
    
}

@media only screen and (min-width: 700px) {
    #colums {
        column-count: 2;
        column-gap: 30px;
        column-rule: 4px dotted transparent;
    }
    .jumbotron-form {
        margin: 1em 0;
    }
    .jumbotron-form h3 {
        padding-top: 1em;
        font-size: 25px;
        text-align: center;
    }
    .jumbotron-form p {
        font-size: 18px;
    }
    .rates {
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 954px) {
    .jumbotron-container {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    .enjoy-services {
        flex-direction: row;
    }
}
@media only screen and (max-width: 600px) {
    /* Aquí puedes agregar reglas de estilo específicas para pantallas pequeñas */
    /* Por ejemplo, ajustar el tamaño del texto, el espaciado, etc. */
    .header-nav-logo img {
        width: 200px; /* Cambiar el tamaño del logotipo para pantallas pequeñas */
    }
    /* ... (otras reglas de estilo específicas para pantallas pequeñas) ... */
}