
* {
    font-family: 'Source Sans Pro';
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.col {
    padding: 5px;
    flex-wrap: nowrap;
}

.image-col {
    margin-right: 7%;
}

.image-col img {
    margin: 5px;
}

.small-image {
    height: 105px;
}

.large-image {
    height: 227px;
}

.side-by-side-container {
    display: flex;
}

.large-image-container {
    margin-right: 7px;
}

.stacked-image-container {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
}

.col-3 {
    width: 33%;
    text-align: center;
}

.col-2 {
    margin: 0 20px 40px 0;
}

.center-lg {
    justify-content: center;
}


/* ----------------------------------------------- */


/* ---------------- HEADER SECTION --------------- */


/* ----------------------------------------------- */

.header-nav-logo {
    width: 300px;
    height: 100px;
}

.page-header {
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

hr {
    border-top: 1.5px solid black;
    width: 104px;
    margin: 0.5rem auto 1rem;
}

.page-sub-header {
    text-align: center;
    letter-spacing: 0.01em;
    font-weight: 300;
    color: black;
}


/* ----------------------------------------------- */


/* ----------- SPECIAL OFFERS SECTION ------------ */


/* ----------------------------------------------- */

.special-offers {
    padding: 0 0 0;
}

.offers-title {
    font-size: 165%;
    margin: 25px 0 15px;
}

.offers-sub-title {
    font-size: 74%;
    color: #3b331a;
    font-weight: 300;
    margin-bottom: 20px;
}

.offers-list {
    list-style: none;
    margin-bottom: 30px;
}

.offers-list li {
    margin: 12px 0;
}

.list-icon {
    height: 17px;
    vertical-align: middle;
    margin-right: 5px;
}

.list-text {
    display: inline-block;
    font-size: 69%;
}

.btn {
    border-radius: 3px;
    border: 1px solid rgba(118, 199, 64, 0.829);
    text-transform: uppercase;
    font-size: 80%;
    padding: 10px 18px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s;
    margin-right: 20px;
}

.btn-fill {
    background-color: rgba(118, 199, 64, 0.829);
    color: #fff;
}

.btn-fill:hover,
.btn-fill:active {
    background-color: rgba(118, 199, 64, 0.829);
    border: 1px solid rgba(118, 199, 64, 0.829);
}

.btn-ghost {
    color: rgba(118, 199, 64, 0.829);
    background-color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: rgba(118, 199, 64, 0.829);
    color: #fff;
}

.btn-large {
    font-size: 80%;
    padding: 9px 22px;
}


/* Estilos para las habitaciones */
.room-col {
    flex: 0 0 calc(33.333% - 20px); /* Calcula el ancho para 3 columnas con margen entre ellas */
    max-width: calc(33.333% - 20px); /* Calcula el ancho máximo para 3 columnas */
    margin-right: 10px; /* Agrega un margen a la derecha de cada columna */
    margin-bottom: 10px; /* Agrega un margen en la parte inferior de cada columna */
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s;
}

.room-col:hover {
    transform: translateY(-10px); /* Efecto de elevación al pasar el cursor */
}

.room-img {
    max-width: 100%;
    height: auto;
}

.room-title {
    font-size: 20px;
    margin: 15px 0 10px;
    font-weight: bold;
}

.room-text {
    font-size: 14px;
    margin: 10px 0;
}

.room-details {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.detail {
    display: flex;
    align-items: center;
    margin: 0 0 0 0 ;
}

.detail-icon {
    height: 20px;
    margin-right: 5px;
}

.detail-text {
    font-size: 12px;
}

.amount-text {
    font-size: 16px;
    margin: 15px 0;
}

/* Estilos para los botones */
.room-col a.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-size: 10px; /* Reduje el tamaño de fuente a 12px */
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    margin: 10px 0;
    width: 100%; /* Para que los botones ocupen todo el ancho */
}

.room-col a.btn.btn-fill {
    background-color: #76c740;
    color: #fff;
}

.room-col a.btn.btn-fill:hover,
.room-col a.btn.btn-fill:active {
    background-color: #9fc554;
}


/* Estilos para los botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-size: 8px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.btn-fill {
    background-color: #76c740;
    color: #fff;
}

.btn-fill:hover,
.btn-fill:active {
    background-color: #9fc554;
}

/* Estilos adicionales */


.row {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;

}

/* Añade un nuevo estilo para controlar el ancho de las columnas */
.room-col {
    flex: 0 0 calc(33.333% - 20px); /* Calcula el ancho para 3 columnas con margen entre ellas */
    max-width: calc(33.333% - 20px); /* Calcula el ancho máximo para 3 columnas */
    margin-right: 20px; /* Agrega un margen a la derecha de cada columna */
    margin-bottom: 20px; /* Agrega un margen en la parte inferior de cada columna */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .room-card {
        margin: 10px 0; /* Reduje el margen vertical para dispositivos móviles */
    }
}


/* ----------------------------------------------- */


/* --------------- QUERIES SECTION --------------- */


/* ----------------------------------------------- */

@media only screen and (max-width: 1029px) {
    .center-md {
        justify-content: center;
    }
}

@media (max-width: 730px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 1.5rem;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 380px;
        margin: 0 auto;
        padding: 1.5rem;
    }
    .image-col {
        margin: 8px auto;
    }
    .image-col img {
        margin: 2px;
    }
    .small-image {
        height: 70px;
    }
    .large-image {
        height: 151px;
    }
    .side-by-side-container {
        display: flex;
    }
    .large-image-container {
        margin-right: 7px;
    }
    .stacked-image-container {
        display: flex;
        flex-direction: column;
        margin-top: 1px;
    }
    .rooms {
        width: 350px;
    }
    .rooms-img {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    /* Aquí puedes agregar reglas de estilo específicas para pantallas pequeñas */
    /* Por ejemplo, ajustar el tamaño del texto, el espaciado, etc. */
    .header-nav-logo img {
        width: 200px; /* Cambiar el tamaño del logotipo para pantallas pequeñas */
    }
    /* ... (otras reglas de estilo específicas para pantallas pequeñas) ... */
}

@media (max-width: 375px) {
    .container {
        max-width: 355px;
        margin: 0 auto;
        padding: 1.5rem;
    }
    .image-col {
        margin: 8px auto;
    }
    .image-col img {
        margin: 2px;
    }
    .small-image {
        height: 70px;
    }
    .large-image {
        height: 151px;
    }
    .side-by-side-container {
        display: flex;
    }
    .large-image-container {
        margin-right: 7px;
    }
    .stacked-image-container {
        display: flex;
        flex-direction: column;
        margin-top: 1px;
    }
    .rooms {
        width: 350px;
    }
    .rooms-img {
        width: 100%;
    }
}